/* RichTextEditor.css */
.ql-snow * {
    padding: 0;
  }
  
  .richTextEditorContainer {
    position: relative;
    width: 90%;
    /* padding-top: 40px; */
  }
  
  /* Toolbar styles */
  .richTextEditorContainer .ql-toolbar {
    /* position: absolute; */
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
  }
  
  .richTextEditorContainer:hover .ql-toolbar {
    opacity: 1;
    visibility: visible;
  }
  .ql-editor {
    min-height: 4em;
  }
  .ql-editor:hover {
    border: #ffb600 dashed 1px;
  }
  .ql-container.ql-snow {
    border: none;
  }
  @media only screen and (max-width: 468px) {
    .ql-toolbar.ql-snow .ql-formats {
      margin-right: 0;
    }
  }